# Firebase (web-template)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Firebase Functions URL
# Lokalni razvoj:  http://127.0.0.1:5001/mindmend-a8839/us-central1
# Produkcija:      https://europe-west1-mindmend-a8839.cloudfunctions.net
VITE_FUNCTIONS_BASE_URL=